/* Container styling */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: inherit; /* Use the default page color */
  color: #effbf9;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

/* Multi-spinner animation */
.multi-spinner {
  display: flex;
  gap: 10px;
}

.spinner-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #00f5ff; /* Neon blue color */
  animation: pulse 1.5s infinite ease-in-out;
}

.spinner-circle:nth-child(1) {
  animation-delay: 0s;
}
.spinner-circle:nth-child(2) {
  animation-delay: 0.3s;
}
.spinner-circle:nth-child(3) {
  animation-delay: 0.6s;
}

/* Loading text */

.loading-text {
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  
  color: #0c0d23; /* Neon blue for text */
}
/* Keyframes for pulse effect */
@keyframes pulse {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
